# Обязательно: ключ FACEIT Data API (получается на developers.faceit.com)
FACEIT_API_KEY=your_api_key

# Опционально: порт сервера (по умолчанию 3333)
PORT=3333

# Адрес клиента.
CLIENT_URL=https://DOMAIN.com

# Адрес сервера.
VITE_SERVER_URL=https://api.DOMAIN.com
