.skill-level-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--1 {
    background-image: url('@images/skill-levels/skill-level-1.svg');
  }

  &--2 {
    background-image: url('@images/skill-levels/skill-level-2.svg');
  }

  &--3 {
    background-image: url('@images/skill-levels/skill-level-3.svg');
  }

  &--4 {
    background-image: url('@images/skill-levels/skill-level-4.svg');
  }

  &--5 {
    background-image: url('@images/skill-levels/skill-level-5.svg');
  }

  &--6 {
    background-image: url('@images/skill-levels/skill-level-6.svg');
  }

  &--7 {
    background-image: url('@images/skill-levels/skill-level-7.svg');
  }

  &--8 {
    background-image: url('@images/skill-levels/skill-level-8.svg');
  }

  &--9 {
    background-image: url('@images/skill-levels/skill-level-9.svg');
  }

  &--10 {
    background-image: url('@images/skill-levels/skill-level-10.svg');
  }

  &--11 {
    background-image: url('@images/skill-levels/skill-level-11.svg');
  }

  &--12 {
    background-image: url('@images/skill-levels/skill-level-12.svg');
  }

  &--13 {
    background-image: url('@images/skill-levels/skill-level-13.svg');
  }

  &--14 {
    background-image: url('@images/skill-levels/skill-level-14.svg');
  }

  &--15 {
    background-image: url('@images/skill-levels/skill-level-15.svg');
  }

  &--16 {
    background-image: url('@images/skill-levels/skill-level-16.svg');
  }

  &--17 {
    background-image: url('@images/skill-levels/skill-level-17.svg');
  }

  &--18 {
    background-image: url('@images/skill-levels/skill-level-18.svg');
  }

  &--19 {
    background-image: url('@images/skill-levels/skill-level-19.svg');
  }

  &--20 {
    background-image: url('@images/skill-levels/skill-level-20.svg');
  }
}



