.elo-icon {
  display: inline-block;
  width: 28px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('@images/icons/elo.svg');
}
